<!DOCTYPE HTML>
<html>
	<head>
		<title>BOMSERVIÇO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
		
		<!-- ESTILOS PARA ESTA PÁGINA -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Fontes -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
		<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg">
				<img src="img/Logo.png" style="width:100px; border-left: 50px;"/>
				<a id="homeTitle">&nbsp;BOM</a>
				<a id="homeTitle" style="color: yellow;">SERVIÇO</a>
				<a id="homeTitle">.COM</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<div class="form-inline">
							<a class="nav-link Menu" href="/">Home</a>
							<!-- <a class="nav-link Menu" href="#">Sobre</a> -->
							<a class="nav-link Menu" href="/cadastro">Contratar</a>
							<script>
								if(localStorage.getItem("usuario") == undefined)
									document.write('<a class="nav-link Login" href="/login"><i class="bi bi-person-circle"></i>&nbsp;ENTRAR</a>');
								else
									document.write('<a class="nav-link Login" href="/logout"><i class="bi bi-person-circle"></i>&nbsp;SAIR</a>')
							</script>
						</div>
					</ul>
				</div>
			</nav>
		</header>
		<div id="banner">
			<div class="container">
				<nav class="navbar" >
					<form class="form-inline" >
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							  <button class="dropdown-toggle btCategorias" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</button>
							  <div class="dropdown-menu">
								<a class="dropdown-item" href="#">Ação</a>
								<a class="dropdown-item" href="#">Outra ação</a>
								<a class="dropdown-item" href="#">Algo mais aqui</a>
							</div>
							<input id="search"  type="search" placeholder="&nbsp;Digite aqui..." aria-label="Search">
					  		<button class="btBuscar" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp;Buscar</button>
						  </div>
					</form>
				  </nav>
			</div>
		</div>
		<Div style="background-color: #333333;">
			<div class="container">
				<div class="row">
					<div class="col-sm" id="Icones">
						<i class="bi bi-facebook"></i>
					</div>
					<div class="col-sm" id="Icones">
						<i class="bi bi-instagram"></i>
					</div>
					<div class="col-sm" id="Icones">
						<i class="bi bi-linkedin"></i>
					</div>
					<div class="col-sm" id="Icones">
						<i class="bi bi-youtube"></i>
					</div>
				</div>
			</div>
		</Div>
		<Div id="banner2">
			<div class="container">
				<div class="row" >
					<div class="col-xl-6" id="BlocoA" >
						<a id="banner2txtWhite">"O</a> 
						<a id="banner2txtYellow">&nbsp;Melhor</a>
						<a id="banner2txtWhite">&nbsp;Profissional</a> 
						<a id="banner2txtWhite"><br>Para o Melhor</a> 
						<a id="banner2txtYellow">&nbsp;Serviço</a>
						<a id="banner2txtWhite">"</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6" id="BlocoB">
						<button class="btCadastro" type="submit"><i class="bi bi-person-badge"></i>&nbsp;&nbsp;CADASTRE-SE AGORA</button>
					</div>
				</div>
			</div>
		</div>
		<Div style="background-color: #333333;">
			<div class="container" >
				<div class="row">
					<div class="col-xl-5">
						<p style="margin-top: 13px;">
							<a id="homeTitle">BOM</a>
							<a id="homeTitle" style="color: yellow;">SERVIÇO</a>
							<a id="homeTitle">.COM</a>
						</p>
						<p id="RodapeEndereço" >
							<br>SEDE - Avenida Manoel Goulart, 000
							<br>Centro | Presidente Prudente - SP
							<br>CEP 19600-000				
						</p>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-3">
						<h2 id="RodapeFaleConosco">Fale Conosco</h2>
						<ul class="nav  navbar-text">
							<li><a id="RodapeSocial"><i class="bi bi-whatsapp" id="icons"></i>&nbsp;&nbsp;(18) 9985-62455</a></li>
							<li><a id="RodapeSocial"><i class="bi bi-telephone" id="icons"></i>&nbsp;&nbsp;(18) 3928-8223</a></li>
							<li><a id="RodapeSocial"><i class="bi bi-envelope" id="icons"></i>&nbsp;&nbsp;contato@bserv.com.br</a></li>
						</ul>
					</div>
					
				</div>
				
			</div>
		</Div>
		<footer style="background-color: #333333c9;">
			<div class="container">
				<div class="row">
					<div class="col-md-13" id="barra">
						<h >2020 © BOMSERVIÇO.COM - Todos os direitos reservados | Criação eu e Deus LTDA</h>
					</div>
				</div>
			</div>
		</div>		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
	</body>
</html>


