header{
	background-color: #333333;
}
#homeTitle{
	font-family: 'Zen Dots', cursive; 
	font-size: 35px;
	color: white;
	text-align: center;
}
.Voltar{
	font-family: 'Krona One', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	border-left: yellow solid 3px;
}
.Voltar:hover{
	color: yellow;
	border-bottom: yellow solid 3px;
	border-left: transparent;
}
@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
	background-image: url(./img/banner1.jpg);
	background-attachment: scroll;
	background-size:auto;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}
.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.678) !important;
}
.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: yellow;
}
.social_icon span:hover{
	color: white;
	cursor: pointer;
}
.card-header h3{
	color: white;
}
.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
}
.input-group-prepend span{
	width: 40px;
	background-color: yellow;
	color: black;
	border:0 !important;
}
input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}
.remember{
	color: white;
}
.remember input{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}
#login_btn{
	color: black;
	background-color: yellow;
	width: 100px;
}
#login_btn:hover{
	color: black;
	background-color: white;
}
.links{
	color: white;
}
.links a{
	margin-left: 4px;
}
