header{
	background-color: #333333;
}
#homeTitle{
	font-family: 'Zen Dots', cursive; 
	font-size: 35px;
	color: white;
	text-align: center;
}
.Menu{
	font-family: 'Krona One', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
}
.Menu:hover{
	color: yellow;
	border-bottom: yellow solid 3px;
	font-size: 16px;
}
.Login{
	font-family: 'Krona One', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	border-left: yellow solid 3px;
}
.Login:hover{
	color: yellow;
	border-bottom: yellow solid 3px;
	border-left: transparent;
}
#banner{
	background-image: url(./img/banner1.jpg); 
	background-attachment:scroll; 
	background-size:cover;
	background-position: center;
	background-repeat: repeat;
}
#search{
	font-family: 'Krona One', sans-serif;
	font-size: 15px;
	background-color: #333333dc;
	width: 700px; 
	height: 50px; 
	color: yellow;
	font-size: 15px; 
	margin-top: 200px;
	margin-bottom: 300px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}
#search::-webkit-input-placeholder {
	font-family: 'Krona One', sans-serif;
	font-size: 15px;
	color: white;
}
input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.btCategorias{
	font-family: 'Krona One', sans-serif;
	background-color: yellow;
	color: #333333;
	width: 180px; 
	height: 50px; 
	font-size: 15px; 
	margin-top: 200px;
	margin-bottom: 300px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;

}
.btCategorias:hover{
	font-family: 'Krona One', sans-serif;
	background-color: #333333;
	color:  yellow;
	width: 180px; 
	height: 50px; 
	font-size: 15px; 
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}
.btBuscar{
	font-family: 'Krona One', sans-serif;
	background-color: yellow;
	width: 170px; 
	height: 50px; 
	color: #333333;
	font-size: 15px; 
	margin-top: 200px;
	margin-bottom: 300px;
	border-top-right-radius: 8px;
	border-bottom-right-radius:  8px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}
.btBuscar:hover{
	font-family: 'Krona One', sans-serif;
	background-color: #333333;
	width: 170px; 
	height: 50px; 
	color: yellow;
	font-size: 15px; 
	margin-top: 200px;
	margin-bottom: 300px;
	border-top-right-radius: 8px;
	border-bottom-right-radius:  8px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}
::-webkit-input-placeholder {
	color:rgba(255, 255, 255, 0.856);
	font-size: 15px;
}
#Icones{
	margin-top: 25px; 
	margin-bottom: 25px;
	color: yellow; 
	font-size: 30px;  
	text-align: center; 
}
#Icones:hover{
	margin-top: 25px; 
	margin-bottom: 25px;
	color: white; 
	font-size: 31px;  
	text-align: center; 
}
#banner2{
	background-image: url(./img/banner2.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}
#BlocoA{
	margin-top: 300px;  
	background-color: rgba(0, 0, 0, 0.658);
}
#banner2txtWhite{
	font-family: 'Zen Dots', cursive;
	font-size: 35px;
	color:white;
}
#banner2txtYellow{
	font-family: 'Zen Dots', cursive;
	font-size: 38px;
	color:yellow;
}
#BlocoB{
	margin-top: 8px; 
	margin-bottom: 300px; 
	background-color: rgba(0, 0, 0, 0.658);
}
#BlocoB:hover{
	margin-top: 8px; 
	margin-bottom: 300px; 
	background-color: yellow;
}
.btCadastro{
	font-family: 'Krona One', sans-serif;
	background-color: yellow;
	width: 100%; 
	height: 50px; 
	color: #333333;
	font-size: 18px; 
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:  0px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}
.btCadastro:hover{
	font-family: 'Krona One', sans-serif;
	background-color: #333333;
	width: 100%; 
	height: 50px; 
	color: yellow;
	font-size: 18px; 
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:  0px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}
#RodapeEndereço{
	font-family: 'Krona One', sans-serif;
	font-size: 13px;
	color:white;
	margin-bottom: 30px;
}
#RodapeFaleConosco{
	font-family: 'Krona One', sans-serif;
	font-size: 22px;
	color:yellow;
	margin-top: 25px;
}
#RodapeSocial{
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	color:white;
	margin-top: 25px;
}
#icons{
	font-size: 20px;
	color:white;
}
#barra{
	font-family: 'Montserrat', sans-serif;
	padding: 1.0em 0 1.0em 0;
	font-size: 15px;
	color: white;
	text-align: center;
}